<div class="container">
    <h1>Welcome to the movie archive</h1>
    <hr>

    <a href="/movies-list" class="btn btn-dark">Go to movies</a>
    <a href="/celebs-list" class="btn btn-dark">Go to celebrities</a>

    <a href="/movies/add-new-movie" class="btn btn-success">Add new movies</a>
    <a href="/celebs/add-new-celeb" class="btn btn-success">Add new celebrities</a>

</div>