<div class="movies-list">
    <div class="container">
        <h1>All the movies!</h1>
        <hr>
        <div class="row">
            {{#each movies}}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <a href="/movies/details/{{_id}}" class="btn btn-sm btn-dark">See details</a>
                        <a href="/movies/edit-movie/{{_id}}" class="btn btn-sm btn-info">Edit info</a>
                        <form action="/movies/delete/{{_id}}" method="POST" style="display: inline">
                            <input type="submit" value="delete" class="btn btn-sm btn-danger">
                        </form>

                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>